.layout-grid {
  display: grid;
  grid-template-areas: "content sidebar";
  grid-template-columns: minmax(0, 65ch) var(--sidebar-width);
  column-gap: var(--spacing-xl);
  justify-content: center;
}

.layout-content {
  grid-area: content;
}

.layout-page-title {
  padding: var(--spacing-md) 0;

  > :last-child {
    margin-bottom: 0;
  }
}

.layout-sidebar {
  grid-area: sidebar;
  align-self: start;
  background-color: var(--color-background-light);
  border-radius: var(--border-radius);
}

.layout-blog-title {
  padding: var(--spacing-md);
}

.layout-sidebar-content {
  padding: 0 var(--spacing-md) var(--spacing-md);
}
